.codeblock1 {
  inset: 0;
  border-radius: 12px;
  background: radial-gradient(
    circle at top left,
    rgba(56,189,248,0.5),
    transparent 60%
  ),
  radial-gradient(
    circle at bottom right,
    rgba(168,85,247,0.5),
    transparent 60%
  );
  filter: blur(45px);
}

.codeblock2 {
  inset: 0;
  border-radius: 12px;
  background:
    radial-gradient(
      circle at top right,
      rgba(34,197,94,0.45),
      transparent 60%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(250,204,21,0.45),
      transparent 60%
    );
  filter: blur(45px);
}